@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');

:root {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    color: #eee;
}


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #101010;
}

menu {
    background: #eee;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    margin: 0;
    padding: 10px 15px;
    z-index: 2;
}

.logo {
    color: black;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 125px;
}

menu h3 {
    color: #333;
    text-transform: uppercase;
    line-height: 2;
    margin: 0;
    writing-mode: vertical-rl;
}

.logo-box {
    text-align: center;
}

.logo-box img {
    height: 40px;
}

.logo-box h3 {
    display: inline;
    margin-left: -10px;
}

.name-box h3 {
    font-size: 2em;
}

main, footer {
    width: calc(100vw - 146px);
    float: right;
}

footer {
    background: #999;
    margin: 20px 0 0;
    padding: 0 2%;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 1% 0;
}


/*chart*/

.kpi-box {
    position: relative;
    display: inline-block;
    text-align: center;
}

.kpi-box h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#row2 {
    justify-content: space-evenly;
}

.chart-box {
    width: 50vw;
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#opps, .chart-inner {
    width: 100%;
    height: auto;
}

#oppStat {
    font-size: 7vw;
}

video {
    max-width: 40%;
    margin: auto;
}